* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
}

/* nav bar INICIO*/
.navbar {
  background: black;
}
.navbar .navbar-brand img {
  height: 150px;
}
.navbar .nav-link {
  font: 22px;
  color: white;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  color: #ad1995;
}
.navbar .navbar-nav .nav-link.show {
  color: #ad1995;
}
.navbar .dropdown-menu {
  background: black;
  border-radius: 0;
  border-top: 5px solid #ad1995;
}
.navbar .dropdown-menu .dropdown-item {
  font: 20px;
  text-transform: uppercase;
  color: #ad1995;
}

.btn {
  font: 20px;
  border-radius: 0;
}

.btn {
  background: #ad1995;
  color: white;
  margin-left: 15px;
}

/*FIM NAV BAR*/
/*layout*/
.header {
  background-color: black;
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
}
.header .header-imagenlogo {
  width: 10%;
  padding: 10px;
}
.header .header-logo a,
.header .header-logo a:visited,
.header .header-logo a:link {
  padding: 8px;
  color: white;
  text-decoration: none;
}
.header .header-logo a:hover {
  color: #ad1995;
  background: white;
}

/* AREA PRINCIPAL */
.principal {
  width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.principal .principal-section {
  width: 69%;
  box-shadow: 0px 0px 10px #333;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.principal .principal-section-imgbanner {
  width: 100%;
}
.principal .principal-aside {
  width: 30%;
  box-shadow: 0px 0px 10px #333;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
.principal .principal-aside-imglateral {
  width: 94%;
}

/* FIM AREA PRINCIPAL*/
/*INICIO DAS COLUNAS GRID DA PAGINA O JOGO*/
iframe {
  display: block;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.grid-coluna {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #bc01d1;
}

/* FIM DO DISPLAY GRID DA PAGINA O JOGO*/
/*INICIO DO RODAPE*/
.footer {
  background: black;
  clear: both;
  text-align: center;
  padding: 8px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

/* FIM DO RODAPE*/
/*PAGINA QUEM SOMOS*/
h2 {
  text-align: center;
  margin: 5px;
}

p {
  text-align: center;
}

.imgescudo {
  display: block;
  margin: auto;
  padding: 50px;
}

/*FIM DA PAGINA QUEM SOMOS */
/*PAGINA ENTRE EM CONTATO*/
.Contato .Contato-formulario {
  text-align: center;
}
.Contato label {
  font-weight: bold;
  margin: 5px 0px;
}
.Contato .input-select {
  padding: 1px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid white;
  margin: 5px 0;
}
.Contato .text-area {
  display: block;
  margin: auto;
}
.Contato .botao {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ad1995;
  background: black;
}
.Contato .btn-form:hover {
  color: #ad1995;
  background: white;
}

/*FIM DA PAGINA ENTRE EM CONTATO*/
/*MEDIA*/
@media (max-width: 800px) {
  header {
    text-align: center;
    width: 100%;
  }

  section {
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .mobile {
    display: block;
    margin: auto;
    width: 70%;
    padding: 5px;
  }
  .mobile .mobile-coluna {
    padding: 5px;
  }

  .mobile-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mobile-imagem {
    width: 100%;
  }

  iframe {
    width: 70%;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
